:root {
    --color-primary: #0D0D0D;
    --color-primary-light: #011526;
    --color-primary-dark: #024059;
    --color-primary-dark-2: #798C8C;
    --color-secondary: #fff;
    --color-grey-light-1: #F2F2F2;
    --color-grey-light-2: #BFBFBF;
    --color-grey-light-3: #8C8C8C;
    --color-grey-light-4: #404040;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
   }

    /*largest: 75em;  large: 68.75em;  medium: 34.75em;  -small: 31.25em;  phone: 23.44em;  */
  
  * {
    margin: 0;
    padding: 0; }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit; }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%; 
  }

  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; 
    }
  }

  body {
    font-family: 'Open sans' ,sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-primary);
 
    background-image: var (--color-secondary);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh; 
}

.container {
    display: grid;
    grid-template-rows: 20vh repeat(2, min-content); /* min-content(or auto is the same) adapter the row to the actually content in it */
    grid-template-columns: [full-start] 1fr repeat(8,
    [col-start] minmax(minmax, 14rem)) [col-end]1fr  [full-end]; /* repeat (8, 1fr)- will give me 8 equals track column with 114px // and minmax(14rem) and never bellow 14rem*/
}

/******************** Header-LOGO******************/

.logo-box {
    grid-column: 1 / span 1;


    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    row-gap: 2rem;
    align-items: center;
}

.logo {
    height: 10rem;
    display: block;
    margin: 2rem;
    padding: 1.2rem;}


    @media only screen and (max-width: 1054px) {
      .logo {
        height: 8rem; 
        width: auto;}
    }
    
    @media only screen and (max-width: 824) {
      .logo {
        height: 6rem; }
    }
    
    
    @media only screen and (max-width: 40em) {
      .logo {
        height: 8rem;
        margin-bottom: 4rem;}
    }
    
    
    @media only screen and (max-width: 31.25em) {
      .logo {
        height: 6rem;
        width: auto;
        padding: .2rem;
        margin-bottom: 6rem;}
    }
    
    @media only screen and (max-width: 27em) {
      .logo {
        height: 4rem;
        width: auto;
        padding: .2rem;
        margin-bottom: 5rem;}
      
    }
    
    @media only screen and (max-width: 23em) {
      .logo {
        height: 4rem;
        width: auto;
        padding: .2rem;
        margin-bottom: 5rem;}
      
    }
    @media only screen and (max-width: 21.5em) {
      .logo {
        height: 4rem;
        width: auto;
        padding: .2rem;
        margin-bottom: 6rem;}
      
    }

/*
@media only screen and (max-width: 50em) {
  .logo {
    height: 8rem; }
}


@media only screen and (max-width: 40em) {
  .logo {
    height: 8rem;
    margin-bottom: 4rem;}
}


@media only screen and (max-width: 31.25em) {
  .logo {
    height: 6rem;
    width: 40rem;
    padding: .2rem;
    margin-bottom: 6rem;}
}

@media only screen and (max-width: 25em) {
  .logo {
    height: 4rem;
    width: 28rem;
    padding: .2rem;
    margin-bottom: 5rem;}
  
}

@media only screen and (max-width: 23em) {
  .logo {
    height: 4rem;
    width: 20rem;
    padding: .2rem;
    margin-bottom: 5rem;}
  
}
@media only screen and (max-width: 20em) {
  .logo {
    height: 4rem;
    width: 20rem;
    padding: .2rem;
    margin-bottom: 6rem;}
  
}
*/





/******************** HEADER-NAV******************/

.nav-bar {
    background-color: var(--color-primary);
    background-image: url();
    grid-column: 1 / 2;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    
}

.nav {
    list-style: none;

    grid-column: 2 / span 1;
    grid-row: 1/ span 1;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    row-gap: 2rem;
    align-items: center;
 
}

.nav__link:link,
.nav__link:visited {
    font-size: 1.3rem;
    font-weight: 900;
    color: var(--color-secondary);
    text-decoration: none;
    font-family: 'Playfair Display';
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    padding: 1.2rem;
    display: block;
    transition: all .2s;
}

.nav__link:hover,
.nav__link:active {
    color: rgb(134, 149, 150);
    background-color: rgba(#fff, .05);
    transform: translateY(-8px);
    cursor: pointer;
    
}
/************ Toggle-NAV********************/


  @media only screen and (max-width: 23.44em) {
  .navigation__button {
  background-color: #0D0D0D;
  top: 2rem;
  right: 2rem;}
  } 
  .navigation__checkbox {
    display: none; }
  
  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.116);
    text-align: center;
    /* cursor: pointer; */ }
  
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#110f10, #0e0d0d);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 1000; }
  
  .navigation__nav {
    height: 100vh;
    width: 0%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  
  .navigation__item {
    margin: 1rem; }
  
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    font-family: 'Playfair Display';
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 235%;
    transition: all .3s; }
  
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: var(--color-grey-light-4);
    transform: translateX(1rem); }
  
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: black;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(1215deg); }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-1215deg); }




/************ GALLERY********************/
@media screen and (min-width:760px) {


.gallery {
    background-color: var(--color-primary);
 
    grid-column: 1 / 2;
    cursor: pointer ;
  
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(27, 7vw);

  }
}
 
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }


  .gallery__item--1 {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
  }
  .gallery__item--2 {
    grid-column: 3 / span 3;
    grid-row: 1 / span 3;
  }
  .gallery__item--3 {
    grid-column: 6 / span 1;
    grid-row: 1 / span 2;
  }
  .gallery__item--4 {
    grid-column: 7 / span 2;
    grid-row: 1 / span 2;
  }
  .gallery__item--5 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 3;
  }
  .gallery__item--6 {
    grid-column: 3 / span 4;
    grid-row: 3 / span 4;
  }
  .gallery__item--7 {
    grid-column: 7 / span 2;
    grid-row: 3 / span 3;
  }
  .gallery__item--8 {
    grid-column: 1 / span 2;
    grid-row: 6 / span 2;
  }
  .gallery__item--9 {
    grid-column: 7 / span 2;
    grid-row: 6 / span 1;
  }
  .gallery__item--10{
    grid-column: 1 / span 2;
    grid-row: 8 / span 2;
  }
  .gallery__item--11 {
    grid-column: 3 / span 3;
    grid-row: 7 / span 3;
  }
  .gallery__item--12 {
    grid-column: 6 / span 4;
    grid-row: 7 / span 3;
  }
  .gallery__item--13 {
    grid-column: 1 / span 3;
    grid-row: 10 / span 4;
  }
  .gallery__item--14 {
    grid-column: 4 / span 5;
    grid-row: 10 / span 5;
  }
  .gallery__item--15 {
    grid-column: 1 / span 3;
    grid-row: 14 / span 3;
  }
  .gallery__item--16 {
    grid-column: 4 / span 2;
    grid-row: 15 / span 2;
  }
  .gallery__item--17 {
    grid-column: 7 / span 3;
    grid-row: 15 / span 2;
  }
  .gallery__item--18 {
    grid-column: 6 / span 1;
    grid-row: 15 / span 2;
  }
  .gallery__item--19 {
    grid-column: 5 / span 2;
    grid-row: 17 / span 4;
  }
  .gallery__item--20 {
    grid-column: 1 / span 4;
    grid-row: 17 / span 4;
  }
  .gallery__item--21 {
    grid-column: 18/ span 1;
    grid-row: 17 / span 4;
  }
  .gallery__item--22 {
    grid-column: 7 / span 2;
    grid-row: 17 / span 5;
  }
  .gallery__item--23 {
    grid-column: 3 / span 3;
    grid-row: 21 / span 4;
  }
  .gallery__item--24 {
    grid-column: 6 / span 1;
    grid-row: 21 / span 1;
  }
  .gallery__item--25 {
    grid-column: 6 / span 2;
    grid-row: 22 / span 2;
  }
  .gallery__item--26 {
    grid-column: 6 / span 3;
    grid-row: 24 / span 2;
  }
  .gallery__item--27 {
    grid-column: 8 / span 1;
    grid-row: 22 / span 2;
  }
  .gallery__item--28 {
    grid-column:  1/ span 2;
    grid-row: 21 / span 5;
  }
  .gallery__item--29 {
    grid-column: 3 / span 2 ;
    grid-row:  25 / span 3 ;
  }
  .gallery__item--30{
    grid-column: 5 / span 1;
    grid-row:  25 / span 1 ;
  }
  .gallery__item--31 {
    grid-column: 5 / span 2;
    grid-row:  26 / span 2;
  }
  .gallery__item--32 {
    grid-column: 7 / span 2;
    grid-row: 26 / span 2;
  }
  .gallery__item--33 {
    grid-column: 1 / span 2 ;
    grid-row:  26 / span 2 ;
  }


/*******************FOOTER**********************/
 .footer {
    background-color: var(--color-primary);
 
    grid-column: 1 / 2;
    width: 100%;
    padding: 4rem;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    cursor: pointer ; 
 }
 

  
 .icon-box {
    height: 3.5rem;
    width: 4.5rem;
    fill: var(--color-secondary); 
    padding: 2px;

   flex-direction: row;
   align-content: center;
   justify-content: center;
   list-style: none;
  }

  @media only screen and (max-width: 31.25em) {
    .icon-box {
      height: 3.5rem;
      width: 3.5rem;}
    }


  .nav-footer {
    text-decoration: none;
  }
  
  .copyright {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: .8px;
    text-decoration: none;
    color: #fff;
    list-style: none;
    text-decoration: none; 
   
  
    
    text-align: center;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%; 
  }

   
